@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* spinner */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Adjust the height based on your layout */
}

.spinner-ring {
  width: 90px;
  height: 90px;
  border: 2px solid #ecfd02;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spinner-animation 1.5s linear infinite;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.single-movie {
  width: 90vw;
  max-width: var(--max-width);
  margin: 2rem auto;
  display: grid;
  gap: 2rem;
}
.single-movie img {
  width: 100%;
  display: block;
}
.single-movie p {
  max-width: 30em;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  line-height: 1.8;
}
.btn {
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  border-radius: var(--radius);
  display: inline-block;
  margin-top: 0.5rem;
  letter-spacing: var(--spacing);
}
@media screen and (min-width: 746px) {
  .single-movie {
    grid-template-columns: 1fr 2fr;
  }
}
.movie {
  position: relative;
  overflow: hidden;
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background: rgba(239, 215, 4, 0.6);
  transform: translateY(100%);
  transition: 0.3s ease;
}
.movie-info h4 {
  color: #ffffff;
  margin-bottom: 0.25rem;
}
.movie-info p {
  margin-bottom: 0;
  color: #ffffff;
}
.movie:hover .movie-info {
  transform: translateY(0);
}
